.navbar__menu {
   width:450px;
   grid-template-columns: auto 1fr auto auto;
   align-items: center;
   column-gap: 20px;

   .dropdown-button{
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: .75rem;
      align-items: center;
      justify-items: start;
      font-weight:600;
   }

   .dropdown-content{
      top: 51px!important;
      box-shadow: none;
      border-radius: 10px;

      li{
         font-size:12px;
         letter-spacing: .8px;

         &:hover{
            background-color: #FF3E4F;
            
            a{
               color:white;
            }
         }
      }
   }
}